/* 

Bookmakers - 12th Man

Author: Rik Kendell - @Rikki_Sixx
Version: 1.0;
URL: 

CONTENTS - GLOBAL.CSS
-----------------------------------------
0. SETUP
1. BASE STYLES
2. BASE TYPOGRAPHY & LINKS
3. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
4. CUSTOM LAYOUT & TYPOGRAPHY 
5. NON-SEMANTIC STYLING 

*/


@charset "UTF-8";
/* ==========================================================================
	0. SETUP
   ========================================================================== */
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";

$brand-color: #7BC4A6;
$brand-font: Lato, sans-serif;


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";


/* ==========================================================================
	1. BASE STYLES
   ========================================================================== */

html {
	background: $brand-color;
}
body {
	color: #333;
	font-family: $brand-font;
	font-size: 100%;
}


/* ==========================================================================
	2. BASE TYPOGRAPHY & LINKS
   ========================================================================== */

h1 {
	font-family: Pacifico, sans-serif;
	font-weight: normal;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	text-align: center;
	a { 
		color: #fff; 
		text-decoration: none;
		border: 0;
		&:hover { text-decoration: none; } 
	}
}
h2, h3, h4, h5, h6 {
	font-family: $brand-font;
}

a,
a:visited { 
	border-bottom: 1px solid #b55d74;
	color: #333;
	text-decoration: none;
}
a:hover {
	
}


/* ==========================================================================
	3. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
   ========================================================================== */

.container {
	margin: auto;
	max-width: 780px;
	padding: 1em;
}
.alt {
	background: #fff;
}
footer {
	background: #787878;
	height: 150px;
	position: relative;
	img {
		height: 195px;
		top: -45px;
		width: 195px;
		position: absolute;
		margin: auto;
		text-align: center;
		left: 0;
		right: 0;
	}
}


/* ==========================================================================
	4. CUSTOM LAYOUT & TYPOGRAPHY
   ========================================================================== */

.logo {
	background-image: url("../img/devicecream_logo.svg");
	background-size: cover;
	height: 500px;
	margin: auto;
	width: 500px;
}
h1 {
	a, a:visited {
		color: #fff;
	}
}
.involved {
	float: left;
}
.image {
	float: right;
	img { max-width: 100%; }
}


.social-buttons {
	list-style: none;
	margin-left: 0;
	li {
		display: inline-block;
		margin: 0 1em 0 0;
	}
}

//Form
.form { 
	color: #fff;
	margin: auto;
	max-width: 620px;
	input { 
		font-size: 1.5em; 
		width: 100%; 
	}
	.small { font-size: 0.8em;}
}
label { 
	font-size: 1.25em;
	margin: 1em 0 0;  
}
input[type=text],
input[type=email] {
	background: none;
	border: 2px solid #fff;
	color: #fff;
	padding: 10px;
}
.btn {
	background: #fff;
	color: $brand-color;
	margin: 1em 0 0; 
}