/* 

Bookmakers - 12th Man

Author: Rik Kendell - @Rikki_Sixx
Version: 1.0;
URL: 

CONTENTS - GLOBAL.CSS
-----------------------------------------
0. SETUP
1. BASE STYLES
2. BASE TYPOGRAPHY & LINKS
3. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
4. CUSTOM LAYOUT & TYPOGRAPHY 
5. NON-SEMANTIC STYLING 

*/


@charset "UTF-8";
/* ==========================================================================
	0. SETUP
   ========================================================================== */
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";


$brand-font: Lato, sans-serif;


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";


/* ==========================================================================
	1. BASE STYLES
   ========================================================================== */

html {
	background: #fffedf;
}
body {
	color: #333;
	font-family: $brand-font;
	font-size: 100%;
}


/* ==========================================================================
	2. BASE TYPOGRAPHY & LINKS
   ========================================================================== */

h1 {
	font-family: Pacifico, sans-serif;
	font-weight: normal;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	a { 
		color: #fff; 
		text-decoration: none;
		border: 0;
		&:hover { text-decoration: none; } 
	}
}
h2, h3, h4, h5, h6 {
	font-family: $brand-font;
}

a,
a:visited { 
	border-bottom: 1px solid #b55d74;
	color: #333;
	text-decoration: none;
}
a:hover {
	
}


/* ==========================================================================
	3. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
   ========================================================================== */

.header {
	background: #ffdcdc;
	text-align: center;
}

.container {
	margin: auto;
	max-width: 780px;
	padding: 1em;
}
.alt {
	background: #c3a98d;
}



/* ==========================================================================
	4. CUSTOM LAYOUT & TYPOGRAPHY
   ========================================================================== */

.involved {
	float: left;
}
.image {
	float: right;
	img { max-width: 100%; }
}


.social-buttons {
	list-style: none;
	margin-left: 0;
	li {
		display: inline-block;
		margin: 0 1em 0 0;
	}
}